@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ignite";
  src: url("/fonts/Ignite.otf");
}

@font-face {
  font-family: "VCR";
  src: url("/fonts/Vcr.ttf");
}

html {
  background-color: "#031402";
}

#footerBG {
  background-image: linear-gradient(to bottom, #bc0500, #ff1c02, #6d0d0f);
}

#borderYellow {
  border: 1px solid;
  border-radius: 0.375rem;
  border-image: linear-gradient(to right, #feffe8, #fcffcd) 1;
}

#blurText {
  background-image: linear-gradient(
    to bottom,
    #9acce6,
    #537684,
    #5fabb9,
    #45747e,
    #9cceda,
    #2f5566,
    #c5d6e1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #d8d8d8;
  filter: blur(0.6px);
}

#noCode {
  background-image: linear-gradient(
    to bottom,
    #e3e1ee,
    #e3e1ee,
    #f7fff0,
    #89eff5,
    #23fefc,
    #2b90fd,
    #341cfe,
    #341cfe,
    #341cfe
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#boxGrad {
  background-image: linear-gradient(to bottom, #d0eaec, #9ecad0, #a3d0d5);
}

#blur {
  filter: blur(0.6px);
}

#borderLight {
  border: 2px solid;
  opacity: 80%;
  border-image: linear-gradient(to right, #f7fff0, #aaeeef) 1;
}

#redBorder {
  border: 2px solid;
  border-radius: 0.375rem;
  border-image: linear-gradient(to bottom, #bc0500, #ff1c02, #6d0d0f) 1;
}

#inputBorder {
  border: 2px solid;
  border-image: linear-gradient(to bottom, #fb88b6, #f5507f) 1;
}

input:focus {
  outline-color: #fb88b6 !important;
}

input:-moz-focus-inner {
  outline-color: #fb88b6 !important;
}

html::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
}

html:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background-color: #9ecad0;
}

div::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
}

div:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

div::-webkit-scrollbar-track {
  background-color: black;
}

div::-webkit-scrollbar-thumb {
  background-color: #9ecad0;
}

#xScroll::-webkit-scrollbar {
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
  width: 0;
  height: 0;
}

#xScroll:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
  width: 0;
  height: 0;
}

#xScroll::-webkit-scrollbar-track {
  background-color: transparent;
}

#xScroll::-webkit-scrollbar-thumb {
  background-color: #9ecad0;
}